:root {
  --color-white: #FFFFFF;
  --color-dark: #1F1F1F;
  --color-green: #00FF47;
  --color-dark-green: #27AE60;
  --color-light-green: linear-gradient(40deg, #00FF47 0%, #27AE60 100%);
  --color-darker-green: linear-gradient(40deg, #27AE60 0%, #00FF47 100%);
  --color-gray: #595959;

}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: var(--color-dark);
}

.title {
  color: var(--color-green);
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.subtitle {
  color: black;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  align-items: center;
}

.input {
  padding: 10px;
  border: 1px solid gray;
  border-radius: 4px;
  font-size: 1rem;
}

.notes{
  font-size: 0.8rem;
  color: var(--color-gray);
  margin-bottom: 10px;
}

.button {

}

.continueLink{
  color: var(--color-white);
  text-decoration: none;
  cursor: pointer;

}