@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-white: #FFFFFF;
  --color-dark: #1F1F1F;
  --color-green: #00FF47;
  --color-dark-green: #27AE60;
  --color-light-green: linear-gradient(40deg, #00FF47 0%, #27AE60 100%);
  --color-darker-green: linear-gradient(40deg, #27AE60 0%, #00FF47 100%);
  --color-gray: #595959;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Inter', sans-serif;
}

b {
  font-weight: 500;
  color: var(--color-white);
}

strong {
  font-weight: 700;
  color: var(--color-light-green);
}